/* Added common css */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* banner section style */
.banner{
    padding:50px 150px 0px 150px;
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    gap:100px;
    

}
.banner-img{
width: 535px;
height: 700px;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
    
}
.banner-description{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 32px 0px;
}

.banner-content{
 max-width:60%;
}
.btn{
border-radius: 8px;
background: #E55473;
color: white;
font-family: Lato;
font-size: 20px;
font-weight: 700;
border: none;
padding: 18px 40px;
}

   
/* Featured section */
.featured{
    width: 80%;
    margin: 100px auto;
}
.feature-content{
    text-align: center;
    width: 50%;
    margin: auto;
}
.feature-description{
    margin: 20px 0px 50px 0px;
}
.title{
color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;

}
.feature-img-container{
    display: flex;
    text-align: center;
    gap: 24px;

}

.pink-img{
    width:380px;
    height: 480px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('./asset/feature1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:280px;
    
}
.red-img{
    width:380px;
    height: 480px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('./asset/feature2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
    
}
.yellow-img{
    width:380px;
    height: 480px;
    border-radius: 300px 300px 0px 0px;
    background:rgba(71, 125, 17, 0.15);
    background-image: url('./asset/feature3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 280px;
    

}
.feature-img-title{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration: underline;
margin: 30px;
}
/* support section style */
.support{
    width: 80%;
    margin:auto;
}
.support-container{
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
padding: 80px 100px;
display: flex;
justify-content: space-between;
align-items:center;
text-align: center;
margin-bottom: 80px;
}
.support-description{
color: rgba(39, 39, 39, 0.80);

font-family: Lato;
font-size: 20px;

font-weight: 600;
line-height: 35px;
}




