/* Added common css */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
.primary-color{
    color: #E55473;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
    }
    .btn{
        border-radius: 8px;
        background: #E55473;
        color: white;
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        border: none;
        padding: 18px 40px;
        }
    .title{
        color: #272727;
        font-family: Lato;
        font-size: 40px;
        font-weight: 800;
            
            }
/* banner section style */
.banner{
    padding:50px 150px 0px 150px;
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px;
    

}
.banner-img{
width: 535px;
height: 700px;
margin-bottom: -3px;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
    
}


.banner-content{
 max-width:70%;
}

/* Featured section */
.featured{
    width: 100%;
    margin:100px auto;
}
.feature-content{
    text-align: center;
    width: 50%;
    margin: auto;
}
.feature-description{
    margin: 20px 0px 50px 0px;
}

.feature-img-container{
    display: flex;
    text-align: center;
    justify-content:center;
    gap: 70px;
    width: 80% ;
    margin: auto;
    

}
.pink-img{
    width:350px;
    height:450px; 
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url('./asset/feature1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:250px;
    
}
.red-img{
    width:350px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    background-image: url('./asset/feature2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    
}
.yellow-img{
    width:350px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(71, 125, 17, 0.15);
    background-image: url('./asset/feature3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 250px;
    

}
.feature-img-title{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration: underline;
margin: 30px;
}
/* support section style */
.support{
    width:80%;
    margin:auto;
}
.support-container{
border-radius: 8px;
background-color: rgba(39, 39, 39, 0.05);
padding: 80px 100px;
display: flex;
justify-content: space-between;
align-items:center;
text-align: center;
margin-bottom: 80px;
}
.support-description{
color: rgba(39, 39, 39, 0.80);
font-family: Lato;
font-size: 20px;
font-weight: 600;
line-height: 35px;
}

/* Offer section style */
.offer{
    width: 100%;
}
.offer-container{
border-radius: 8px;
background-color: rgba(229, 84, 115, 0.05);
display: flex;
justify-content:center;
gap: 100px;
align-items: center;
 padding: 70px 40px; 
}
.offer-content{
    text-align:center;
    width:45%;
}
.instagram-img-container{
    display: flex;
    gap: 40px;
    justify-content:space-between;
    width: 80%;
    margin: auto;
}
.instagram-img{
    width: 270px;
    height: 300px;
}


/* Top selling flowers */
.top-selling-flower{
    width: 80%;
    margin:150px auto;
}
.top-selling-flower-content{
    
        text-align: center;
        width: 50%;
        margin: auto;
    
}
.top-selling-flower-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    text-align: center;
    
    
    
    
    
}
.top-selling-details{
    height: 500px;
    width: 500px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 10px;
}
.top-selling-details img{
width: 100%;
height: 50%;
border-radius: 10px 10px 0px 0px;
margin-bottom: 25px;
}
.top-selling-description{
margin: 10px 0px;
}
/* More details section */
 .more-info{
    width: 80%;
    margin:150px auto;
    background-image: url('./asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }
 .more-info-container{
    padding: 200px 100px;
    text-align: center;
 }
 .form-details-mail{
border-radius: 8px;
padding: 18px 40px;
border: none;
color: rgba(39, 39, 39, 0.60);
text-align: left;
font-family: Lato;
font-size: 18px;
font-weight: 400;
width: 50%;
margin-right: 10px;
 }
 .form-details-btn{
    border-radius: 8px;
    padding: 18px 40px;
    border: none;
    background-color: #E55473;
    color: rgb(255, 255, 255);
    
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

 


/* footer section */
footer{
padding: 100px 200px;
background-color:  #111010;
text-align: center;
}
.footer{
width: 50%;
margin: auto;
}
.footer-description{
color: rgba(255, 255, 255, 0.90);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 30px 0px;
}
.footer-title{
color: #ffffff;
font-family: Lato;
font-size: 48px;
font-weight: 800;
}
.footer-reserved-description{
color: rgba(255, 255, 255, 0.40);
font-family: Lato;
font-size: 16px;
font-weight: 400;

}